<nav
  class="flex items-center justify-between py-4 px-6 bg-kodev-green dark:bg-kodev-blue text-white"
>
  <div class="flex items-center space-x-4">
    <a routerLink="/" class="text-xl font-semibold"
      ><img
        src="..\..\..\assets\img\logo.png"
        alt="Logo"
        class="my-4 rounded-lg shadow-md max-w-xs h-8"
    /></a>
    <div class="flex space-x-4">
      <a routerLink="/" class="hover:text-gray-300">Home</a>
      <a routerLink="services" class="hover:text-gray-300">Services</a>
      <a routerLink="blog" class="hover:text-gray-300">Blog</a>
    </div>
  </div>
  <div class="flex items-center space-x-2">
    <span class="text-gray-400">Light</span>
    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider round"></span>
    </label>
    <span class="text-gray-400">Dark</span>
  </div>
</nav>
