<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 dark:text-white">
  <div class="max-w-6xl mx-auto">
    <header class="py-16 px-6 text-center">
      <h1 class="text-4xl font-semibold">Welcome to Our Home</h1>
      <p class="mt-4 text-lg">Unleash the Power of Individual Software Development</p>
      <p class="mt-2">Embark on a journey of innovation and tailor-made solutions with our expert freelance software developer specializing in crafting dynamic software using cutting-edge .NET and JavaScript technologies. Our commitment goes beyond mere development – we co-create software that resonates with your vision.</p>
    </header>
    <section class="prose">
      <h2>Crystal-Clear Communication</h2>
      <p>Navigating the intricate realm of software development requires fluency in both the language of clients and developers. With our profound technical acumen, we swiftly decipher the optimal path to aid our clients. This approach has proven to be a quintessential time-saver, benefiting not only us but also our esteemed clients. The investment of time we make in fostering a meticulous outcome stands as a testament to our dedication. At Kodevelop, transparency reigns supreme. We offer unwavering project visibility, delivering weekly status reports that keep you in the loop. Even in the face of unforeseen deviations, stakeholders remain promptly informed.</p>

      <h2>Exemplary Embrace of Quality</h2>
      <p>Kovelop stands resolute in its unwavering pursuit of quality. Quality is interwoven into our codebase, permeates every facet of our development process, drives our project delivery efficiency, and defines our collaborative ethos. In our capacity as a nimble enterprise, we hold paramount the tenets of coding excellence and design ingenuity, all while championing the elegance of simplicity. Nurturing an ideal development framework for on-time, within-budget project delivery is among our core competencies.</p>
      
      <h2>Unparalleled Expertise</h2>
      <p>Spanning a decade of industry expertise, our seasoned team guarantees the utmost realization of your conceptualizations. Whether augmenting features within an extant product or architecting a sophisticated system from inception, our proficiency remains unparalleled. Trust in us to orchestrate your ideas into tangible, remarkable solutions.</p>
      
      <h2>Get in Touch</h2>
      <p>Reach out to us through these channels:</p>
      <ul>
        <li>📞 Phone: +32472740069</li>
        <li>📍 Address: Sint-Antoniusstraat 10, 8870 Izegem</li>
        <li>📇 VAT Number: 0788.396.796</li>
      </ul>
    </section>
  </div>
</main>
