<div class="dark:text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="space-y-12">
      <div class="bg-white dark:bg-slate-800 rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Consultancy</h2>
        <img
          src="..\..\..\assets\img\consultancy.jpg"
          alt="Consultancy"
          class="my-4 rounded-lg shadow-md w-full sm:w-auto sm:max-w-xs mx-auto"
        />
        <p class="text-gray-700 dark:text-gray-400">
          With our extensive experience and broad knowledge of various
          technologies, we can help you assess the technical feasibility of your
          project, optimize system components and business processes, reduce
          costs, and find the most suitable technical solutions.
        </p>
        <p class="text-gray-700 dark:text-gray-400">
          At Kodevelop, whether you're in the planning, development, or support
          phase, our experts will guide you in choosing the right technology and
          addressing potential challenges effectively. We provide insights to
          help you make optimal decisions, ensuring long-term results and the
          continued efficiency of your implemented solution.
        </p>
      </div>

      <div class="bg-white dark:bg-slate-800 rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Software Development</h2>
        <img
          src="..\..\..\assets\img\software-development.jpg"
          alt="Software Development"
          class="my-4 rounded-lg shadow-md w-full sm:w-auto sm:max-w-xs mx-auto"
        />
        <p class="text-gray-700 dark:text-gray-400">
          With 10+ years of experience in commercial software development, we've
          gained valuable expertise in a wide range of technologies. From web
          and desktop to services and API development, we have successfully
          worked on various types of systems, regardless of complexity.
        </p>
        <p class="text-gray-700 dark:text-gray-400">
          At Kodevelop, our skilled professionals excel in both technical and
          soft skills, ensuring effective collaboration and delivering
          exceptional results. Our well-coordinated team ensures optimal
          efficiency without compromising quality. Trust Kodevelop to bring your
          bold ideas to life!
        </p>
      </div>

      <div class="bg-white dark:bg-slate-800 rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Maintenance</h2>
        <img
          src="..\..\..\assets\img\maintenance.jpg"
          alt="Maintenance"
          class="my-4 rounded-lg shadow-md w-full sm:w-auto sm:max-w-xs mx-auto"
        />
        <p class="text-gray-700 dark:text-gray-400">
          Regularly updating and maintaining your system is key to extending its
          lifespan and avoiding the need for a complete rewrite down the line.
          At Kodevelop, we understand the importance of post-release product
          maintenance and updates in ensuring smooth software performance and
          long-term customer satisfaction.
        </p>
        <p class="text-gray-700 dark:text-gray-400">
          We offer comprehensive support, including performance optimization,
          ongoing support, adapting to the latest technologies, and other
          enhancements to improve the efficiency of your existing system. With
          Kodevelop, you can rely on our expertise to keep your system running
          smoothly and meet your evolving needs.
        </p>
      </div>

      <div class="bg-white dark:bg-slate-800 rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Independent Testing</h2>
        <img
          src="..\..\..\assets\img\independent-testing.jpg"
          alt="Independent Testing"
          class="my-4 rounded-lg shadow-md w-full sm:w-auto sm:max-w-xs mx-auto"
        />
        <p class="text-gray-700 dark:text-gray-400">
          Before officially launching your software, independent testing is the
          best way to objectively evaluate its quality. At Kodevelop, we offer a
          comprehensive range of software testing services for desktop, web and
          mobile applications. Our testing covers all aspects, including test
          strategy planning, test design, manual and automated testing, and unit
          testing. We even provide onsite testing for complex equipment.
        </p>
        <p class="text-gray-700 dark:text-gray-400">
          Our skilled QA engineers utilize efficient QA processes, modern tools,
          and their expertise to ensure flawless functionality of your product.
          Trust Kodevelop to thoroughly test your software and deliver a
          high-quality, reliable solution.
        </p>
      </div>

      <div class="bg-white dark:bg-slate-800 rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Analytics and Design</h2>
        <img
          src="..\..\..\assets\img\analytics-and-design.jpg"
          alt="Analytics and Design"
          class="my-4 rounded-lg shadow-md w-full sm:w-auto sm:max-w-xs mx-auto"
        />
        <p class="text-gray-700 dark:text-gray-400">
          A well-described idea leads to a better implementation. At Kodevelop,
          our analysts work closely with you to understand your requirements and
          create detailed project documentation, ensuring the system functions
          correctly.
        </p>
        <p class="text-gray-700 dark:text-gray-400">
          With Kodevelop, we bring your idea to life with clarity and a design
          that captivates your users.
        </p>
      </div>
    </div>
  </div>
</div>
