:host ::ng-deep {
    text-align: center;
}

@media print {
  :host ::ng-deep *,
  :host ::ng-deep *:before,
  :host ::ng-deep *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  :host ::ng-deep a,
  :host ::ng-deep a:visited {
    text-decoration: underline;
  }

  :host ::ng-deep a[href]:after {
    content: " (" attr(href) ")";
  }

  :host ::ng-deep abbr[title]:after {
    content: " (" attr(title) ")";
  }

  :host ::ng-deep a[href^="#"]:after,
  :host ::ng-deep a[href^="javascript:"]:after {
    content: "";
  }

  :host ::ng-deep pre,
  :host ::ng-deep blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  :host ::ng-deep thead {
    display: table-header-group;
  }

  :host ::ng-deep tr,
  :host ::ng-deep img {
    page-break-inside: avoid;
  }

  :host ::ng-deep img {
    max-width: 100% !important;
  }

  :host ::ng-deep p,
  :host ::ng-deep h2,
  :host ::ng-deep h3 {
    orphans: 3;
    widows: 3;
  }

  :host ::ng-deep h2,
  :host ::ng-deep h3 {
    page-break-after: avoid;
  }
}

:host ::ng-deep p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.42;
}

:host ::ng-deep h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

:host ::ng-deep h2 {
  font-size: 2.827rem;
}

:host ::ng-deep h3 {
  font-size: 1.999rem;
}

:host ::ng-deep h4 {
  font-size: 1.414rem;
}

:host ::ng-deep h5 {
  font-size: 1.121rem;
}

:host ::ng-deep h6 {
  font-size: 0.88rem;
}

:host ::ng-deep small {
  font-size: 0.707em;
}

/* https://github.com/mrmrs/fluidity */

:host ::ng-deep img,
:host ::ng-deep canvas,
:host ::ng-deep iframe,
:host ::ng-deep video,
:host ::ng-deep svg,
:host ::ng-deep select,
:host ::ng-deep textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

  :host ::ng-deep img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

:host ::ng-deep a,
:host ::ng-deep a:visited {
  color: #3498db;
}

:host ::ng-deep a:hover,
:host ::ng-deep a:focus,
:host ::ng-deep a:active {
  color: #2980b9;
}

:host ::ng-deep blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

:host ::ng-deep ul,
:host ::ng-deep ol,
:host ::ng-deep li {
  text-align: left;
}

:host ::ng-deep ul li {
  list-style-type: circle;
}

:host ::ng-deep ol li {
  list-style-type: decimal;
}

:host ::ng-deep p {
  color: #777;
}
